// Navigation Styles here

header {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    padding:20px 7%;
    border-bottom: 1px dashed;
    align-items: center;
    margin: 0 auto;

    
        
    a {
    text-decoration: none;
    color: black;
    margin: 20px;
    

    }

    

}